# Receitas
## Bloco de Questões II - Queries Avançadas e de Atualização

Considere os comandos SQL a seguir para criar tabelas que controlam Produtos e Receitas, bem como o respectivo esquema relacional simplificado abaixo. A tabela de Produto mantém um cadastro de produtos, com seu código, nome e custo_unitario, que corresponde ao custo de aquisição de uma unidade do produto. Cada Receita tem um código, nome, tipo (e.g., vegana, regular, light) e custo_total (corresponde ao custo de produção da receita inteira). Cada entrada na tabela Ingrediente indica que um Produto é componente de uma Receita em uma certa quantidade.

### Esquema Relacional
~~~
Produto(codigo_produto, nome_produto, custo_unitario)
Receita(codigo_receita, nome_receita, tipo_receita, custo_total)
Ingrediente(codigo_receita, codigo_produto, quantidade)
~~~

Ativando uma conexão de banco de dados em memória usando o SGBD H2:

In [1]:
%defaultDatasource jdbc:h2:mem:db

In [2]:
DROP Table IF EXISTS Ingrediente;
DROP Table IF EXISTS Receita;
DROP Table IF EXISTS Produto;

CREATE TABLE Produto (
  codigo_produto VARCHAR(7),
  nome_produto VARCHAR(80),
  custo_unitario DECIMAL(5,2),
  PRIMARY KEY (codigo_produto)
);

CREATE TABLE Receita (
  codigo_receita VARCHAR(7),
  nome_receita VARCHAR(80),
  tipo_receita VARCHAR(10),
  custo_total DECIMAL(5,2),
  PRIMARY KEY (codigo_receita));
               
CREATE TABLE Ingrediente (
  codigo_receita VARCHAR(7),
  codigo_produto VARCHAR(7),
  quantidade DECIMAL(5,2),
  PRIMARY KEY (codigo_receita, codigo_produto, quantidade),
  FOREIGN KEY (codigo_receita)
    REFERENCES Receita (codigo_receita),
  FOREIGN KEY (codigo_produto)
    REFERENCES Produto (codigo_produto) );

INSERT INTO Produto VALUES ('CHOCO', 'Chocolate', 3.0);
INSERT INTO Produto VALUES ('CENO', 'Cenoura', 1.5);
INSERT INTO Produto VALUES ('ACU', 'Acucar', 0.5);
INSERT INTO Produto VALUES ('SUCRA', 'Sucralose', 5.0);
INSERT INTO Produto VALUES ('FAR', 'Farinha', 1.0);

INSERT INTO Receita VALUES ('BOLOCE', 'Bolo Cenoura', 'vegana', 6.0);
INSERT INTO Receita VALUES ('BOLOCH', 'Bolo Chocolate', 'regular', 6.7);
INSERT INTO Receita VALUES ('BOLOCEL', 'Bolo Cenoura Light', 'light', 10.0);

INSERT INTO Ingrediente VALUES ('BOLOCE', 'CENO', 1.0);
INSERT INTO Ingrediente VALUES ('BOLOCE', 'ACU', 1.0);
INSERT INTO Ingrediente VALUES ('BOLOCE', 'FAR', 3.0);
INSERT INTO Ingrediente VALUES ('BOLOCE', 'ACU', 2.0);
INSERT INTO Ingrediente VALUES ('BOLOCH', 'CHOCO', 1.0);
INSERT INTO Ingrediente VALUES ('BOLOCH', 'ACU', 1.0);
INSERT INTO Ingrediente VALUES ('BOLOCH', 'FAR', 3.0);
INSERT INTO Ingrediente VALUES ('BOLOCEL', 'CENO', 1.0);
INSERT INTO Ingrediente VALUES ('BOLOCEL', 'SUCRA', 1.0);
INSERT INTO Ingrediente VALUES ('BOLOCEL', 'FAR', 3.0);

SELECT * FROM Produto;
SELECT * FROM Receita;
SELECT * FROM Ingrediente;

In [6]:
DROP TABLE NOVA_RECEITA;
CREATE TABLE NOVA_RECEITA AS
SELECT CODIGO_RECEITA, NOME_RECEITA, TIPO_RECEITA, CUSTO_TOTAL, '' AS AVALIACAO
FROM RECEITA;

In [7]:
SELECT * FROM NOVA_RECEITA;

In [9]:
UPDATE NOVA_RECEITA
SET AVALIACAO = 'CARA'
WHERE CUSTO_TOTAL > 6;

In [12]:
SELECT * FROM NOVA_RECEITA;

In [11]:
UPDATE NOVA_RECEITA
SET AVALIACAO = 'BARATA'
WHERE CUSTO_TOTAL <= 6;

## Questão 1

Atualize o custo unitário de todos os produtos em 1%.

## Questão 2

Crie uma VIEW para o resultado da query da Questão 4 do Bloco de Questões I.

Em algumas receitas o mesmo produto aparece mais de uma vez com quantidades diferentes. Apresente a mesma tabela de Ingredientes de modo que não haja produtos que aparecem mais de uma vez. Para isso, junte os produtos que aparecem mais de uma vez na mesma receita e some as suas quantidades.

## Questão 3
Estenda a questão anterior aplicando a seguinte regra: se o produto aparecer duas vezes, junte os dois em um e some as suas quantidades, se aparecer mais do que duas vezes ele não deve entrar na tabela Ingredientes nova.

## Questão 4
Escreva uma consulta que liste o nome daqueles Produtos que não aparecem em nenhuma Receita.

## Questão 5

Escreva uma consulta que mostre o nome das receitas que não têm produtos que aparecem mais de uma vez.